body {
    background-color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: monospace;
}

canvas {
    border: 2px solid #fff; 
    background-color: #000;
}

#game-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}