body {
    background: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: monospace;
}

canvas {
    border: 1px solid #fff; 
}

#game-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.buttons {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}